<p>Bem-vindo de volta</p>
<h1>João Silva</h1>
<p>Plano Pro * Ativo até Jun/2026</p>

<section>
    <div>
        <p>Treinos esta semana</p>
        <svg></svg>
        <h1>4</h1>
        <p>5 meta</p>
    </div>

    <div>
        <p>Calorias queimadas</p>
        <svg></svg>
        <h1>1.930</h1>
        <p>kcal esta semana</p>
    </div>

    <div>
        <p>sequencia atual</p>
        <svg></svg>
        <h1>12</h1>
        <p>dias seguidos</p>
    </div>

    <div>
        <p>frequencia mensal</p>
        <svg></svg>
        <h1>82%</h1>
        <p>16 de 20 treinos</p>
    </div>

    <div>
        <h1>Calorias da semana</h1>
        <p>calorias queimadas por dia</p>
        
        <svg></svg>

        <i>
            <!--grafico-->
        </i>
    </div>

    <div>
        <h1>Notificações</h1>
        <svg></svg>
        <span>
            <i>
                <p>Voce nao treinou ontem. que tal uma sessao hoje?</p>
                <p>2h atrás</p>
            </i>
            
            <i>
                <p>Seu personal trainer enviou um novo treino para você.</p>
                <p>5h atrás</p>
            </i>

            <i>
                <p>Parabéns! Você completou sua meta semanal!</p>
                <p>1 dia atrás</p>
            </i>
        </span>
    </div>

    <div>
        <h1>Evolução do Peso</h1>
        <p>Ultimos 5 meses</p>
        
        <svg></svg>

        <i>
            <!--grafico-->
        </i>
    </div>
    
    <div>
        <h1>Treinos por semana</h1>
        <p>Este mes</p>
        
        <svg></svg>

        <i>
            <!--grafico-->
        </i>
    </div>

    <div>
        <h1>Próximos Treinos</h1>
        <a href="">Ver agenda ></a>

        <i>
            <svg></svg>
            <h1>Hipertrofia - superiores</h1>
            <p>Hoje as 19:00</p>

            <!--vai ter um svg de um relogio e quanto tempo falta pro treino-->
        </i>
        <i>
            <svg></svg>
            <h1>Hipertrofia - superiores</h1>
            <p>Hoje as 19:00</p>

            <!--vai ter um svg de um relogio e quanto tempo falta pro treino-->
        </i>
        <i>
            <svg></svg>
            <h1>Hipertrofia - superiores</h1>
            <p>Hoje as 19:00</p>

            <!--vai ter um svg de um relogio e quanto tempo falta pro treino-->
        </i>
    </div>
</section>




