<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="/assets/js/main.js" defer></script>
    {{loadAssets(css, app.css)}}
    {{loadAssets(css, dashboard.css)}}
    {{loadAssets(js, header.js)}}
    {{loadAssets(js, dashboard.js)}}
    {{loadAssets(js, chart.js, true, false)}}
</head>
<body data-page="dashboard">
    {{render(layout/header.html)}}
    {{render(dashboard/dashboard.html)}}
    {{render(layout/footer.html)}}
</body>
</html>