<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="/assets/js/main.js" defer></script>
    {{loadAssets(css, app.css)}}
    {{loadAssets(css, planos.css)}}
    
    {{loadAssets(js, header.js)}}
    {{loadAssets(js, plano.js)}}
</head>
<body data-page="planos">
    {{render(layout/header.html)}}
    {{render(planos/planos.html)}}
    {{render(layout/footer.html)}}
</body>
</html>