<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="/assets/js/main.js" defer></script>
    <script src="/assets/js/header.js" defer></script>
    <script src="/assets/js/plano.js" defer></script>
</head>
<body>
    {{render(layout/header.html)}}
    {{render(planos/planos.html)}}
    {{render(layout/footer.html)}}
</body>
</html>