<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> GIT-FIT</title>
    <script type="module" src="/assets/js/main.js" defer></script>

    <link rel="stylesheet" href="/assets/css/inicio.css">
    <link rel="stylesheet" href="/assets/css/app.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

    {{render(layout/header.html)}}

    <section class="hero">

        <div class="hero-content">

            <div class="hero-left">

                <span class="badge">

                    <i class="fa-solid fa-fire"></i>

                    Academia Nº1 de Charqueadas

                </span>

                <h1>

                    Desperte o <span>atleta</span> que
                    existe em você

                </h1>

                <p>

                    Equipamentos premium, personal trainers certificados
                    e uma comunidade que te motiva todos os dias.
                    Comece sua transformação hoje.
                </p>

                <div class="hero-buttons">

                    <a href="/views/auth/cadastro.html" class="btn-primary">

                        Começar Agora
                    </a>

                    <a href="/views/planos/index.html" class="btn-secondary">

                        Ver Treinos >

                    </a>

                </div>

            </div>

        </div>

    </section>


    <section class="stats">

        <div>
            <h2>5.000+</h2>
            <p>Alunos ativos</p>
        </div>

         <div>
            <h2>98%</h2>
            <p>Satisfação</p>
        </div>

         <div>
            <h2>50+</h2>
            <p>Personal Trainers</p>
        </div>

         <div>
            <h2>24/7</h2>
            <p>Funcionamento</p>
        </div>

    </section>

    </section>


    <section class="beneficios" id="beneficios">

        <span class="txt-roxo">

            POR QUE ESCOLHER A GIT-FIT

        </span>

        <h2>

            Tudo o que você precisa
            para evoluir

        </h2>

        <div class="grid-beneficios">

            <div class="card-beneficio">

                <div class="icone">

                    <i class="fa-solid fa-dumbbell"></i>

                </div>

                <h3>

                    Equipamentos Premium

                </h3>

                <p>

                    Mais de 200 equipamentos de última geração
                    para o seu treino perfeito.

                </p>

            </div>

            <div class="card-beneficio">

                <div class="icone">

                    <i class="fa-solid fa-user-group"></i>

                </div>

                <h3>

                    Personal Trainers

                </h3>

                <p>

                    Profissionais certificados para guiar cada etapa do seu progresso.

                </p>

            </div>

            <div class="card-beneficio">

                <div class="icone">

                    <i class="fa-solid fa-bolt"></i>

                </div>

                <h3>

                    Treinos Personalizados

                </h3>

                <p>

                    Treinos adaptados ao seu objetivo,
                    nível e disponibilidade de tempo.

                </p>

            </div>

            <div class="card-beneficio">

                <div class="icone">

                    <i class="fa-solid fa-clock"></i>

                </div>

                <h3>

                    Aberto 24 Horas

                </h3>

                <p>

                    Treine no horário que preferir,
                    todos os dias, incluindo finais de semana.

                </p>

            </div>

            <div class="card-beneficio">

                <div class="icone">

                    <i class="fa-solid fa-medal"></i>

                </div>

                <h3>

                    Resultados Comprovados

                </h3>

                <p>

                    Metodologia científica com resultados visíveis
                    desde as primeiras semanas.

                </p>

            </div>

            <div class="card-beneficio">

                <div class="icone">

                    <i class="fa-solid fa-mobile-screen"></i>

                </div>

                <h3>

                    App Exclusivo

                </h3>

                <p>

                    Acompanhe sua evolução,
                    treinos e agendamenos pelo nosso aplicativo.

                </p>

            </div>

        </div>

    </section>
    <!-- ===========================
     COMUNIDADE
=========================== -->

    <section class="comunidade">

        <div class="comunidade-imagens">

            <img src="/assets/img/IMG_2250.JPG" alt="Treino">

            <img src="/assets/img/IMG_2248.JPG" alt="Academia">

        </div>

        <div class="comunidade-texto">

            <span class="txt-roxo">
                NOSSA MISSÃO
            </span>

            <h2>
                Mais do que uma academia, uma comunidade
            </h2>

            <p>

                Na ApexGym, acreditamos que toda pessoa tem um atleta dentro de si.
                Nossa missão é criar o ambiente perfeito para você descobrir seus limites
                e superá-los a cada treino.


            </p>

            <ul>

                <li>
                    <i class="fa-solid fa-circle-check"></i>
                    Metodologia científica baseada em evidências
                </li>

                <li>
                    <i class="fa-solid fa-circle-check"></i>
                    Ambiente acolhedor para todos os níveis
                </li>

                <li>
                    <i class="fa-solid fa-circle-check"></i>
                    Tecnologia de ponta para acompanhar seu progresso
                </li>

                <li>
                    <i class="fa-solid fa-circle-check"></i>
                    Comunidade ativa e motivadora
                </li>

            </ul>

            <a href="#" class="btn-primary">

                Conhecer os Planos

            </a>

        </div>

    </section>


    <!-- ===========================
     PLANOS
=========================== -->

    <section class="planos" id="planos">

        <span class="txt-roxo">
            PLANOS E PREÇOS
        </span>

        <h2>

            Escolha seu plano

        </h2>

        <div class="cards-planos">

            <div class="card-plano">

                <h3>Básico</h3>

                <div class="preco">

                    <span>R$</span>

                    89

                </div>

                <ul>

                    <li>✔ Acesso à musculação</li>
                    <li>✔ Vestiários</li>
                    <li>✔ App de treinos</li>
                    <li>✔ 2 aulas coletivas/semana</li>

                </ul>

                <a href="/views/planos/index.html" class="btn-secondary">

                    Assinar Básico

                </a>

            </div>



            <div class="card-plano destaque">

                <span class="popular">
                    MAIS POPULAR
                </span>


                <h3>Pro</h3>

                <div class="preco">

                    <span>R$</span>

                    149

                </div>

                <ul>

                    <li>✔ Tudo do Básico </li>
                    <li>✔ Aulas ilimitadas </li>
                    <li>✔ 1 Personal/semana </li>
                    <li>✔ Avaliação corporal </li>
                    <li>✔ Sauna e spa </li>

                </ul>

                <a href="/views/planos/index.html" class="btn-primary">

                    Assinar Pro

                </a>

            </div>



            <div class="card-plano">

                <h3>Elite</h3>

                <div class="preco">

                    <span>R$</span>

                    249

                </div>

                <ul>

                    <li>✔ Tudo do Pro </li>
                    <li>✔ Personal ilimitado </li>
                    <li>✔ Nutricionista </li>
                    <li>✔ Prioridade no agendamento </li>
                    <li>✔ Área VIP </li>

                </ul>

                <a href="/views/planos/index.html" class="btn-secondary">

                    Assinar Elite
                </a>

            </div>

        </div>

    </section>


    <!-- ===========================
     DEPOIMENTOS
=========================== -->

    <section class="depoimentos" id="depoimentos">

        <span class="txt-roxo">

            DEPOIMENTOS

        </span>

        <h2>

            O que nossos alunos dizem

        </h2>

        <div class="cards-depoimentos">

            <div class="card-depoimento">

                <div class="estrelas">

                    ★★★★★

                </div>

                <p>

                    "A ApexGym mudou completamente minha relação com o exercício.
                    Perdi 15kg e nunca me senti tão bem!"

                </p>

                <div class="aluno">

                    <div class="avatar">

                        MC

                    </div>

                    <div>

                        <h4>

                            Mariana Costa

                        </h4>

                        <span>

                            Aluna há 2 anos

                        </span>

                    </div>

                </div>

            </div>



            <div class="card-depoimento">

                <div class="estrelas">

                    ★★★★★

                </div>

                <p>

                    "Os personal trainers aqui são incríveis.
                    Em 6 meses de hipertrofia ganhei 8kg de massa muscular."

                </p>

                <div class="aluno">

                    <div class="avatar">

                        RO

                    </div>

                    <div>

                        <h4>

                            Rafael Oliveira

                        </h4>

                        <span>

                            Aluno há 1 ano

                        </span>

                    </div>

                </div>

            </div>



            <div class="card-depoimento">

                <div class="estrelas">

                    ★★★★★

                </div>

                <p>

                    "Ambiente motivador, equipamentos sempre novos e
                    a equipe sempre disposta a ajudar. Recomendo demais!"

                </p>

                <div class="aluno">

                    <div class="avatar">

                        JM

                    </div>

                    <div>

                        <h4>

                            Juliana Mendes

                        </h4>

                        <span>

                            Aluna há 3 anos

                        </span>

                    </div>

                </div>

            </div>

        </div>

    </section>

    {{render (layout/footer.html)}}

</body>
</html>