<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="/assets/js/main.js" defer></script>
    <script type="module" src="/assets/js/header.js"></script>
    <script type="module" src="/assets/js/biblioteca.js"></script>
    <script type="module" src="/assets/js/treinos.js"></script>
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/treino.css">
</head>
<body data-page="treinos">
    {{render(layout/header.html)}}
    <main class="fundo-degrade">
        <section class="hero-treinos">
            <p class="txt-roxo">BIBLIOTECA DE TREINOS</p>

            <h1 class="titulo-pri">
                Encontre seu treino
            </h1>

            <h3 class="titulo-seg">
                Treinos elaborados por profissionais para todos os objetivos e níveis.
            </h3>

            <input
                type="text"
                placeholder="Buscar treino..."
                class="input-busca"
            >

            <div class="filtros">
                <span>Objetivo:</span>

                <label><input type="radio" name="objetivo" value="todos" checked> Todos</label>
                <label><input type="radio" name="objetivo" value="hipertrofia"> Hipertrofia</label>
                <label><input type="radio" name="objetivo" value="emagrecimento"> Emagrecimento</label>
                <label><input type="radio" name="objetivo" value="resistencia"> Resistência</label>

                <span>Nível:</span>

                <label><input type="radio" name="nivel" value="todos" checked> Todos</label>
                <label><input type="radio" name="nivel" value="iniciante"> Iniciante</label>
                <label><input type="radio" name="nivel" value="intermediario"> Intermediário</label>
                <label><input type="radio" name="nivel" value="avancado"> Avançado</label>
            </div>

            <div id="lista-treinos"></div>
        </section>
    </main>
    {{render(layout/footer.html)}}
</body>
</html>