<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamentos</title>
    <link rel="stylesheet" href="/assets/css/app.css">
    <script type="module" src="/assets/js/main.js" defer></script>
    <script src="/assets/js/agendamento.js"></script>
    <link rel="stylesheet" href="/assets/css/agendamento.css">
</head>

<body>
    {{render(layout/header.html)}}
    <section class="agenda">
        <div class="agenda-header">
            <span class="tag">AGENDAMENTO</span>
            <h2>Aulas Coletivas</h2>
            <p>Reserve sua vaga com antecedência e não perca seu treino.</p>
        </div>

        <div class="calendario">

            <div class="topo-calendario">

                <button class="nav-btn">❮</button>

                <div class="semana-titulo">
                    28 de junho – 4 de julho de 2026
                </div>

                <button class="nav-btn">❯</button>

            </div>

            <div class="semana">

                <div class="dia">
                    <span class="nomeDia">Dom</span>
                    <h3 class="numDia">28</h3>
                </div>

               <div class="dia">
                    <span class="nomeDia">Seg</span>
                    <h3 class="numDia">29</h3>
                </div>

                <div class="dia">
                    <span class="nomeDia">Ter</span>
                    <h3 class="numDia">30</h3>
                </div>

                <div class="dia">
                    <span class="nomeDia">Qua</span>
                    <h3 class="numDia">1</h3>
                </div>

                <div class="dia">
                    <span class="nomeDia">Qui</span>
                    <h3 class="numDia">2</h3>
                </div>

                <div class="dia">
                    <span class="nomeDia">Sex</span>
                    <h3 class="numDia">3</h3>
                </div>

                <div class="dia">
                    <span class="nomeDia">Sáb</span>
                    <h3 class="numDia">4</h3>
                </div>

            </div>

        </div>

        </div>

        <h2 class="titulo-dia">

        </h2>

        <div class="lista-aulas">
        </div>

    </section>
    {{render(layout/footer.html)}}
</body>